#contentSub{
    .menu{
        .box2{
            width: 300px; height: 500px;
            background: rgba(179, 215, 232,0.6);
            position: absolute; right: 0px; top: 520px;
        }
        h1{
            left: 15%;
        }

    }
   
}

#mainGallery{
    width: 100%; height: 100%; margin: 0 auto;
    .inner{
        width: 1180px; margin: 0 auto; min-height: 800px;
        .wrap{
            width: 100%;
            #searchBox{
                width: 100%; padding: 50px 60px 0px; font-size: 0;
                overflow: hidden;
                #search{
                    width: 300px; height: 30px;
                    border: 1px solid rgb(179, 215, 232);
                    padding-left: 10px;
                    font: 15px/1 'Kanit'; 
                }
                .btnSearch{
                    width: 80px; height: 30px; background: rgb(179, 215, 232);
                    font: bold 14px/20px 'Kanit'; color: #fff; text-align: center; cursor: pointer; margin-left: 10px; vertical-align: top; border-color: rgb(179, 215, 232); letter-spacing: 1px;
                }
            }
            .wrap{
                width: 100%; padding: 50px; overflow: hidden;
                .loading{
                    position: fixed;
                    top: 50%; left: 50%;
                    transform: translate(-50%,-50%);
                    transition: 1s;
                    display: none;
                    &.off{
                        opacity: 0;
                    }
                }
                #list{
                    width: 100%;
                    opacity: 0; transform: translateY(100px); transition: 1s;
                    &.on{
                        opacity: 1; transform: translateY(0px);
                    }
                    &::after{
                        content: ''; display: block; clear: both;
                    }
                    li{
                        float: left; width: calc(100% / 3); padding: 10px;
                        div{
                            width: 100%; padding: 20px; box-shadow: 5px 5px 20px rgba(179, 215, 232,0.6); border-radius: 5px;
                            a{
                                >img{
                                    width: 100%; 
                                }
                            }
                            p{
                                font: 12px/1.2 'Kanit'; color: #333; margin-top: 10px; margin-bottom: 10px;
                            }
                            // span{
                            //     display: flex; align-items: center; margin-top: 10px;
                            //     >img{
                            //         width: 20px; height: 20px; border-radius: 50%; margin-right: 10px;
                            //     }
                            //     strong{
                            //         font: 11px/1 'Kanit';
                            //         color: rgb(179, 215, 232);
                            //     }
                            // }
                        }
                    }
                } 
                
            }
            aside{
                width: 100%; height: 100vh;
                background: rgba(0,0,0,0.6);
                position: fixed; top: 0px; left: 0px;
                padding: 5vw; 
                display: flex; justify-content: center;
                align-items: center;       
        
                img{
                    height: 100%;
                }
                span{
                    position: absolute; top: 20px; right: 20px;
                    color: #fff; cursor: pointer;
                }
            } 
        }
    }
}