@charset "UTF-8";
@import "reset.scss";

/* header 영역 */
#header_sub{
    width: 100%; height: 119px; margin: 0 auto;
    position: relative; top: 0px;
    background: #fff; z-index: 10;
    .inner{
        width: 1180px; height: 100%; margin: 0 auto;
        position: relative; top: 0px; left: 0px;
        
        
        h1{
            position: absolute; top: 17%; left: 43%;
            margin-top: 10px;
            
            
            a{              
                font: 40px/1 'Abril Fatface';
                color : rgb(69, 70, 70);
                letter-spacing: 2px;
                
            }     
        }

        #gnb{
            position: absolute; left: 34%; top: 85px;
            margin-top: 10px;
            li{
                float: left;
                a{
                    display: block; padding: 7px 17px;
                    font: bold 10px/1 'Kanit';
                    color : rgb(179, 215, 232);                
                    &:hover{
                        background: rgb(179, 215, 232);
                        color: #fff;
                    }
                }
            }
        }

        .util{
         position: absolute; top: 10px; right: 20px;
            li{
                float: left; margin-left: 10px;
                a{
                    font: 10px/1 'Kanit'; color: #999;
                    &:hover{
                        color: rgb(179, 215, 232);
                    }
                }

            }
        }
    }
}
/* sub_menu*/
#contentSub{
    .menu{
        width: 100%; height: 100%; margin-top: 50px; 
        position: relative; 
        .box1{
            width: 350px; height: 130px;
            background: rgba(179, 215, 232,0.6);
            position: absolute; left: 0px; top: 30px;
        }
        // .box2{
        //     width: 300px; height: 500px;
        //     background: rgba(179, 215, 232,0.6);
        //     position: absolute; right: 0px; top: 520px;
        // }

        h1{
            position: absolute; left: 18%; top: 55px;
            font: 80px/1 'Sansita'; color: #666;
        }
    }

}
/* sub_main*/
#mainSub{
    .inner{
        width: 1180px; height: 900px;
        .wrap{
            width: 100%; height: 100%;
        }
    }

}

/* footer 영역 */
#footer_sub{
    .inner{
        width: 1180px; height: 300px; margin: 0 auto;
        position: relative; margin-top: 70px;
            
        .footerL{
           position: absolute; top: 12%; left: 5%;
          
           h1{
            color: rgb(179, 215, 232);
            font: bold 38px/1 'Abril Fatface'; letter-spacing: 2px;
            margin-bottom: 10px;
            }

            .sns{
                margin-bottom: 33px;
                a{
                    margin-bottom: 20px; text-align: center;
                    margin-left: 5px;
                    i{
                        width: 40px; height:40px;     
                        padding: 10px; margin: 5px;
                        background: #999; border-radius: 50%;
                        color: #fff; font-size: 20px;
                    }
                    &:hover i{
                       background: rgba(179, 215, 232,0.7);
                    }
                }
            }
            address{
                font: normal 13px/1.7 'Kanit';
                padding: 10px; color: #999;
            }
        }

        .footerR{
            position: absolute; top: 12%; right: 5%;
            
            li{
                float: left; margin-right: 10px;
                a{
                    font: bold 11px/1 'Kanit'; color: #999;
                }
            }
        }

        &::after{
            display: block; content: '';
            position: absolute; bottom: 13%; right: 0%;
            width: 1180px; height: 3px;
            background: rgba(179, 215, 232,0.7);
        }

        p{
            position: absolute; bottom: 5%; left: 38%;
            font: 12px/1 'arial'; color: #999;
        }

    }
}